@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  border-radius: 0 !important;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

header{
    background-color: #f8f9fa;
    width: 100%;
    min-height: 72px;
    padding: auto;
}

#logo {
    display: inline-block;
    margin-top: 9px;
    margin-left: 16px;
}
#logo a{
    font-size: 36px;
    color: black;
    text-decoration: none;
}

#header_menu{
    display: inline;
    margin-right: 10px;
    margin-top: 16px;
    float: right;
}

#header_search{
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.dropdown_box{
    font-size: 24px;
    display: block;
    text-align: right;
}

.dropdown_box a{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.header_item {
    display: inline;
}

.sidebar {
    width: 300px;
    text-align: center;
    border-right: 1px solid lightgray;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}

.col {
    padding: 0;
}

.sidebar .card{
    text-align: left;
}

#information{
    margin-bottom: 10px;
}

#recent_write, #recent_edit{
    margin-bottom: 10px;
}

.search button {
    background-color: black;
    color: white;
}

.search .mb-3{
    margin-bottom: 10px !important;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#blog_body {
    margin: 10px 20px 10px 20px;
}

#option_bar ul li{
    list-style: none;
}

#option_bar ul{
    text-align: right;
    padding: 0;
}

#option_bar {
    position: fixed;
    right: 0;
    bottom: 30px;
    background: #f8f9fa;
    padding: 0;
    margin: 10px 0 0 0;
    z-index: 5;
}

#option_bar a{
    color: black;
}

#option_bar i, .navbar i{
    min-width: 20px;
}

#footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    text-align: center;
}

#footer p {
    display: inline;
}

.navbar .hidden{
    display: none;
}

.view-mobile {
    display: none;
}

.view-pc {
    display: inherit;
}

#title_bar a:link, #title_bar a:visited, #title_bar a:hover, #title_bar a:active{
    color: black;
}

#title_bar a{
    padding: 10px 0 10px 20px;
    margin-top: 10px;
    display: block;
}

#title_bar {
    padding: 0;
    font-size: 42px;
    display: block;
    font-weight: bold;
    border-left: 5px solid #424242;
}

#title_bar_bottom{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #f8f9fa;
}

@media only screen and (max-width: 800px) {
    .view-pc {
        display: none;
    }
    .view-mobile {
        display: inherit;
    }
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        margin-top: 15px;
    }
    #logo a{
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {
    #logo {
        margin-top: 19px;
    }
    #logo a{
        font-size: 16px;
    }
}