<!doctype html>
<html lang="ko">
<head>
    <title>에러 - {{ setting['name'] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External Module CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='module/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='module/fontawesome/css/all.css') }}">
    <!-- required CSS for page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <!-- External Module JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='module/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='module/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='module/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- required JS for page -->
</head>
<body>
    <h1>페이지를 찾을 수 없습니다.</h1>
    <p>페이지의 주소를 확인하세요.</p>
</body>
</html>