{%  extends 'layout.html' %}

{% block navbar_brand %}
    에러
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/document.css') }}">
{% endblock %}
{% block javascript %}
{% endblock %}
{% block title %}
    <title>에러 - {{ setting['name'] }}</title>
{% endblock %}
{% block section %}
    {% if error=='login' %}
    <h1>로그인을 실패했습니다.</h1>
    <p>아이디와 비밀번호가 올바른지 확인하십시오.</p>
    {% elif error=='not_login' %}
    <h1>로그인되어 있지 않습니다.</h1>
    <p>해당 작업을 위해서는 로그인 하시기 바랍니다.</p>
    {% elif error=='incorrect_doc' %}
    <h1>문서 이름이 올바르지 않습니다.</h1>
    <p>문서 이름은 맨 앞과 끝에 공백과 슬래시를 포함할 수 없으며, 공백과 슬래시를 연달아서 포함할 수 없습니다.</p>
    {% elif error=='not_such_doc' %}
    <h1>문서가 존재하지 않습니다.</h1>
    <p>문서가 먼저 생성되었는지 확인하십시오.</p>
    {% else %}
    <h1>정상적이지 않은 접근입니다.</h1>
    <p>페이지의 주소가 올바른지 확인하십시오.</p>
    {% endif %}
{% endblock %}