<!doctype html>
<html lang="ko">
<head>
    {% block title %}{% endblock %}
    {% block meta %}{% endblock %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ setting['wiki_url'] + request.path }}">
    <meta property="og:image" content="{{ setting['wiki_url'] + url_for('static', filename='image/' + setting['photo']) }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External Module CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='module/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='module/fontawesome/css/all.css') }}">
    <!-- required CSS for page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {%  block css %}{%  endblock %}
    <!-- External Module JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='module/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='module/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='module/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- required JS for page -->
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% block javascript %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col, sidebar">
                <header>
                    <div id="logo">
                        <a href="/">{{ setting['name'] }}</a>
                    </div>
                </header>
                <aside>
                    <div id ="information" class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='image/' + setting['photo']) }}" alt="블로그 주인의 사진">
                        <div class="card-body">
                            <h5 class="card-title">{{ setting['admin_name'] }}</h5>
                            <p class="card-text">{{ setting['word'] }}</p>
                            <a href="{{ url_for('doc_request', doc_name=setting['information']) }}" class="btn btn-primary">정보를 더 보기</a>
                        </div>
                    </div>
                    <div id="side_search">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="검색" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="recent_write" class="card">
                        <div class="card-header">
                            최근에 쓴 글
                        </div>
                        <ul class="list-group list-group-flush">
                        {% for element in sidebar_list['new'] %}
                            <li class="list-group-item"><a href="{{ url_for('doc_request', doc_name=element) }}">{{ element }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div id="recent_edit" class="card">
                        <div class="card-header">
                        최근에 수정한 글
                        </div>
                        <ul class="list-group list-group-flush">
                        {% for element in sidebar_list['edit'] %}
                            <li class="list-group-item"><a href="{{ url_for('doc_request', doc_name=element) }}">{{ element }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </aside>
            </div>
            <div id="nav_bar" class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand view-pc" href="{% if subject %}{{ url_for('doc_request', doc_name=subject) }}{% else %}#{% endif %}">{% block navbar_brand %}{% endblock %}</a>
                    <a class="navbar-brand view-mobile" href="{{ url_for('doc_request', doc_name=setting['main']) }}">{{ setting['name'] }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('random') }}">
                                    <i class="fas fa-random"></i> <span class="hidden">무작위</span>
                                </a>
                            </li>
                            {% if nav['document'] %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-file-alt"></i> <span class="hidden">문서</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if 'id' in session %}
                                    <a class="dropdown-item" href="{{ url_for('doc_write', doc_name=subject) }}">편집하기</a>
                                    <a class="dropdown-item" href="{{ url_for('doc_remove', doc_name=subject) }}">지우기</a>
                                    <a class="dropdown-item" href="{{ url_for('doc_move_page', doc_name=subject) }}">옮기기</a>
                                    <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ url_for('doc_history', doc_name=subject) }}">히스토리</a>
                                    <a class="dropdown-item" href="{{ url_for('doc_markdown', doc_name=subject) }}">마크다운</a>
                                    <a class="dropdown-item" href="{{ url_for('doc_reverse_link', doc_name=subject) }}">역참조</a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-box"></i> <span class="hidden">부가기능</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('doc_list') }}">문서일람</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i> <span class="hidden">설정</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if 'id' in session %}
                                    <a class="dropdown-item" href="{{ url_for('logout') }}">로그아웃</a>
                                    <a class="dropdown-item" href="{{ url_for('set_user') }}">유저정보</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('set_blog') }}">관리</a>
                                    {% else %}
                                    <a class="dropdown-item" href="{{ url_for('login', request_page=request.path) }}">로그인</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <div id = "navbar_search" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="문서 이름을 입력하세요." aria-label="Search">
                            <button class="view-pc btn btn-outline-dark my-2 my-sm-0" type="submit">검색</button>
                        </div>
                    </div>
                </nav>
            <div id="option_bar">
                    <ul>
                        <li>
                            <a class="nav-link" href="#nav_bar"><i class="fas fa-arrow-circle-up"></i></a>
                        </li>
                        <li>
                            <a class="nav-link" href="#footer"><i class="fas fa-arrow-circle-down"></i></a>
                        </li>
                        {% if nav['document'] %}
                        <li>
                            <a class="nav-link" href="#index"><i class="fas fa-list"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% if subject %}<a class="subnavbar view-mobile" href="{{ url_for('doc_request', doc_name=subject) }}">{{ subject }}</a>{% endif %}
            <div id="blog_body">
                <section>
                    {%  block section %}{%  endblock %}
                </section>
            </div>
            <footer id="footer">
                <p>copyleft - 비상업적인 용도라면 자유롭게 글을 이용할 수 있습니다.</p>
            </footer>
            </div>
        </div>
    </div>
</body>
</html>