{%  extends 'layout.html' %}

{%  block title %}
    <title>{{ subject }} (역참조) - {{ setting['name'] }}</title>
{%  endblock %}
{% block meta %}
    <meta property="og:title" content="{{ subject }} (역참조) - {{ setting['name'] }}">
    <meta property="og:description" content="{{ subject }} (역참조)">
{% endblock %}
{%  block css %}
{%  endblock %}
{%  block javascript %}
{%  endblock %}
{% block section %}
    <h1>역참조 현황</h1>
    {% if reverse_link %}
    <ul>
        {% for link in reverse_link %}
        <li><a href="{{ url_for('doc_request', doc_name=link['referencing']) }}">{{ link['referencing'] }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>참조된 적이 없습니다.</p>
    {% endif %}
{% endblock %}