{%  extends 'layout.html' %}

{%  block css %}
{%  endblock %}
{%  block javascript %}
{%  endblock %}
{%  block title %}
    <title>{{ subject }} (역참조) - {{ setting['name'] }}</title>
{%  endblock %}
{% block navbar_brand %}
    {{ subject }}
{% endblock %}
{% block section %}
    {% if reverse_link %}
    <ul>
        {% for link in reverse_link %}
        <li><a href="{{ url_for('doc_request', doc_name=link['referencing']) }}">{{ link['referencing'] }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>역참조된 적이 없습니다.</p>
    {% endif %}
{% endblock %}