{%  extends 'layout.html' %}

{%  block title %}
    <title>{{ subject }} (옮기기) - {{ setting['name'] }}</title>
{%  endblock %}
{% block meta %}
    <meta property="og:title" content="{{ subject }} (옮기기) - {{ setting['name'] }}">
    <meta property="og:description" content="{{ subject }} (옮기기)">
{% endblock %}
{%  block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{%  endblock %}
{%  block javascript %}
{%  endblock %}
{% block navbar_brand %}
    {{ subject }}
{% endblock %}
{% block section %}
    <form action="{{ url_for('doc_move') }}" method=post enctype=multipart/form-data>
        <div class="row form-group">
            <p>이 문서를 아래에 입력한 문서로 옮깁니다.</p>
            <input class="col-10 form-control" type="text" name=new_doc_name>
            <input class="col form-control" type=submit value=옮기기>
            <input type="hidden" name="doc_name" value="{{ subject }}">
        </div>
    </form>
{% endblock %}