{%  extends 'layout.html' %}

{%  block css %}
{%  endblock %}
{%  block javascript %}
{%  endblock %}
{%  block title %}
    <title>{{ subject }}에 파일 올리기 - {{ setting['name'] }}</title>
{%  endblock %}
{% block navbar_brand %}
    {{ subject }}
{% endblock %}
{% block section %}
    <form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
        <input type="hidden" name="doc_name" value="{{ subject }}">
    </form>
{% endblock %}