{%  extends 'layout.html' %}

{%  block title %}
    <title>{{ subject }} (마크다운) - {{ setting['name'] }}</title>
{%  endblock %}
{% block meta %}
    <meta property="og:title" content="{{ subject }} (마크다운) - {{ setting['name'] }}">
    <meta property="og:description" content="{{ subject }} (마크다운)">
{% endblock %}
{%  block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/write.css') }}">
{%  endblock %}
{%  block javascript %}
{%  endblock %}
{% block navbar_brand %}
    {{ subject }}
{% endblock %}
{% block section %}
    <h1>마크다운</h1>
    <form>
        <div class="form-group">
            <textarea id='text_editor' name = 'mytext' class="form-control" rows = 30 disabled>{% if text %}{{ text|safe }}{% endif %}</textarea>
        </div>
    </form>
{% endblock %}