{%  extends 'layout.html' %}

{%  block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/write.css') }}">
{%  endblock %}
{%  block javascript %}
{%  endblock %}
{%  block title %}
    <title>{{ subject }} (마크다운) - {{ setting['name'] }}</title>
{%  endblock %}
{% block navbar_brand %}
    {{ subject }}
{% endblock %}
{% block section %}
    <form>
        <div class="form-group">
            <textarea id='text_editor' name = 'mytext' class="form-control" rows = 30 disabled>{% if text %}{{ text|safe }}{% endif %}</textarea>
        </div>
    </form>
{% endblock %}